netatmo:
  client_id: "APP ID (create an app in https://dev.netatmo.com)"
  client_secret: "APP SECRET (create an app in https://dev.netatmo.com)"
  username: "USER EMAIL FROM NETATMO"
  password: "USER PASSWORD FROM NETATMO"
librato:
  email: 'ACCOUNT EMAIL'
  token: 'TOKEN FROM ACCOUNT'
